<form method="post" action="{{ path('team_delete', {'id': team.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette équipe ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ team.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
