{% extends 'base.html.twig' %}

{% block title %}Formulaire de connexion{% endblock %}

{% block body %}
    <div id="formConnection">
        <form method="post" id="formConnexion">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Veuillez vous connecter !</h1>
            <label for="inputEmail">Email<span class="erreur">*</span> :</label>
            <div class="divInputConnection">
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            </div>
            <label for="inputPassword">Mot de passe<span class="erreur">*</span> :</label>
            <div class="divInputConnection">
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
        </form>
    </div>
    <div class="row" id="loginSubmit" >
        <div>
            <button type="submit" form="formConnexion"
                    class="btn btn-success">
                Se connecter
            </button>
            <a class="btn btn-info" href="{{ path('app_register') }}">
                S'inscrire
            </a>
        </div>
    </div>

{% endblock %}
