{% extends 'base.html.twig' %}

{% block title %}Modifier un portfolio{% endblock %}

{% block body %}
    <main>
        <h1>Modifier un portfolio</h1>

        {% for message in app.flashes('SuccessPortfolio') %}
            <div class="flash-success">
                {{ message }}
            </div>
        {% endfor %}
        <div>
            <div class="container-fluid formEntité">
                {{ include('portfolio/_form.html.twig') }}
            </div>
        </div>
        <div class="row">
            <div id="divAjout">
                <button type="submit" class="btn btn-success" form="portfolioForm">
                    Modifier votre portfolio
                </button>
                <a href="{{ path('app_portfolio_index') }}"
                   id="btnRetour" class="btn btn-secondary">
                    Revenir à la liste
                </a>
            </div>
        </div>
    </main>
{% endblock %}