{% extends 'base.html.twig' %}

{% block title %}Espace administration{% endblock %}

{% block body %}

    <h1>Bienvenu dans l'espace administration</h1>

    <table class="table tableAdmin">
        <thead>
            <tr>
                <th>Nom de la fonctionnalité</th>
                <th>Lien vers la fonctionnalité</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Page de gestion des équipes</td>
                <td><a href="{{ path('app_team_index') }}" class="btn btn-info">Gestion des équipes</a></td>
            </tr>
            <tr>
                <td>Page de gestion des utilisateurs</td>
                <td><a href="{{ path('app_user_index') }}" class="btn btn-info">Gestion des utilisateurs</a></td>
            </tr>
            <tr>
                <td>Page de gestion des status</td>
                <td><a href="{{ path('app_status_index') }}" class="btn btn-info">Gestion des status</a></td>
            </tr>
            <tr>
                <td>Page de gestion des portfolios</td>
                <td><a href="{{ path('app_portfolio_index') }}" class="btn btn-info">Gestion des portfolios</a></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
