@import "~bootstrap/scss/bootstrap";

$bgcolor : lightgrey;
/* Générale */
*{
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    background-color: $bgcolor;
}

main {
    display: flex;
    flex-direction: column;
}

.flash-success {
    color: green;
    font-weight: bold;
    font-size: 2em;
}

/* Barre de navigation */
img#logo {
    height: 60px;
    width: 60px;
}

/* Tableaux */

table {
    width: 100%;
}
.tableAdmin{
    margin: 30px 0;
    border: solid black;
}
.tableAdmin th, .tableAdmin td{
    border: solid black;
    font-size: 17px;
    padding: 0.25rem;
    vertical-align: middle!important;
}

.tableAdmin span {
    display: block;
}

.erreur {
    color: red;
    font-weight: bold;
}

/*Formulaire*/

div#divForm {
    display: flex;
}

div.divInput {
    width: 100%;
    margin: 10px 0;
}

#screenLeft{
    float: left;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

#screenRight{
    width: 45%;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

ul.pagination{
    margin-top: 20px;
    position: relative;
    justify-content: center;
    font-size: 15px;
}

#formStatut, #formTeam {
    display: flex;
    flex-direction: column;
}