body {
    background-color: whitesmoke;
}

/* Dashboard */
#dashboard ol {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: unset;
}

#dashboard #part1, #dashboard #part2 {
    align-items: normal;
}