body {
    background-color: whitesmoke;
}

/* Dashboard */
#dashboard ol {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: unset;
}

#dashboard #screenLeft, #dashboard #screenRight {
    align-items: normal;
}

/* Detail project*/

td.tdInfo {
    display: flex;
    justify-content: space-evenly;
}

td div.leftTd {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

td div.rightTd {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
}

table .fa-times, table .fa-check{
    font-size: 1.5em;
}

.fa-times {
    color: red;
}

.fa-check {
    color: green;
}

#deleteFact {
    display: contents;
}